/* Home.css */

/* Style the main container */
.container {
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
  }
  
  /* Style the heading */
  /* h2 {
    color: #333;
    margin-bottom: 20px;
  } */
  
  /* Style the paragraph */
  p {
    font-size: 48px;
    color: #666;
    margin-bottom: 30px;
  }
  
  /* Style the Explore Courses button */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  